* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

body {
    background-image: url(../Img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

@font-face {
    font-family: 'Caviar Dreams';
    src: url(../fonts/CaviarDreams.ttf);
    font-family: 'Caviar Dreams_Bold';
    src: url(../fonts/CaviarDreams_Bold.ttf);
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

/*FORM*/
.form__title {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 80px;
    color: #9f99b0;
    text-align: center;
    padding: 150px 0 100px;
}

.form__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, auto);
    justify-content: space-evenly;
    row-gap: 30px;
}

.form__card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__card input {
    padding: 30px 60px;
    background-color: #d2cfd9;
    border: none;
    height: 30px;
    font-size: 20px;
}

.form__card textarea {
    border: none;
    background-color: #d2cfd9;
    margin-bottom: 20px;
    font-size: 20px;
}

.form__card label {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 40px;
    color: #9f99b0;
    padding: 20px 5px 0;
}


.card__photo-btn {
    width: 300px;
    height: 60px;
    background-color: #d2cfd9;
    text-align: left;
}

.card__photo button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 10px;
    margin: 15px 0 15px 15px;
    border: none;
    background-color: #fafafa;
    color: #9f99b0;
    cursor: pointer;
}

.card__photo button:hover {
    transform: scale(1.1);
}

.card__photo {
    grid-column: 2/3;
    grid-row: 1;
    text-align: center;
}

.card__nick {
    grid-row: 2;
    text-align: left;
}

.card__mail {
    grid-column: 3/-2;
    grid-row: 2;
    text-align: right;
}

.card__about {
    grid-column: 4/1;
    grid-row: 3;
}

.form__button {
    text-align: center;
    padding: 150px 0 250px;
}

.form__button button {
    background-color: #9f99b0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border: none;
    padding: 10px 70px;
    cursor: pointer;
}

.form__button button:hover {
    background-color: #716d7c;
}