* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(../Img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

@font-face {
    font-family: 'Caviar Dreams';
    src: url(../fonts/CaviarDreams.ttf);
    font-family: 'Caviar Dreams_Bold';
    src: url(../fonts/CaviarDreams_Bold.ttf);
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

/*ADATIVE*/

@media (max-width:1300px) {

    .hero__top-photo img {
        max-width: 100%;
    }

}


@media (max-width:1130px) {
    .hero__top {
        flex-direction: column;
    }

    .hero__top-photo {
        max-width: 500px;
        max-height: 700px;
        align-self: center;
    }

    .hero__top-disc {
        padding-top: 100px;
        align-items: center;
    }

    .hero__bottom-card-like img {
        width: 115px;
    }

    .hero__top-btn {
        padding: 0 20px;
        text-align: center;
        padding: 0 30px;
    }

}

@media (min-width:1130px) {
    .hero__top-disc-message {
        padding-top: 280px;
    }


}

@media(max-width:850px) {
    .nav__top {
        flex-direction: column-reverse;
        gap: 15px;
        padding: 0 20px 50px;
    }

    .hero__top-disc-main {
        white-space: nowrap;
    }
}