/*HERO__TOP*/
.hero__top {
    display: flex;
    padding: 100px 0;
    gap: 50px;
}

.hero__top-photo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__top-disc {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero__top-disc-title {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 30px;
    color: #9f99b0;

}

.hero__top-disc-title h1 {
    line-height: 0;
    padding-bottom: 20px;
}

.hero__top-disc-main {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #9f99b0;
}

.hero__top-disc-message {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 20px;
    color: #9f99b0;
    display: flex;
    align-items: center;
}

.hero__top-btn--title {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 300;
    color: #9f99b0;
    margin-bottom: 50px;
}

.hero__top-btn button {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 35px;
    padding: 5px 120px 5px 30px;
    border: none;
    color: #fafafa;
    background-color: #9f99b0;
    cursor: pointer;
}

.hero__top-btn button:hover {
    transform: scale(1.2);
}

/*HERO__BOTTOM*/
.hero__bottom-card-head {
    display: grid;
    justify-content: center;
}

.hero__bottom-card-head h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #9f99b0;
    padding: 100px 0 50px;
}

.hero__bottom-card-head img {
    max-width: 100%;
    padding: 0 30px;
}

.hero__bottom-card-like {
    display: flex;
    gap: 15px;
    padding-top: 50px;
}


.hero__bottom-card-like span {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #cc0000;
}

.hero__bottom-card-body h1 {
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #9f99b0;
    text-align: center;
    padding: 50px 30px;
}

.hero__bottom-card-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #7f7f7f;
    text-indent: 50px;
    padding: 0 30px;
}

.hero__bottom-card-btn,
.hero__bottom-card-btn a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #7f7f7f;
    text-decoration: none;
    text-align: right;
    padding: 0 80px;
}

.hero__bottom-card-btn a:hover {
    color: #a39f9f;
}

.arrow__control {
    display: flex;
    justify-content: right;
    padding: 100px 160px 100px 0;
}

.arrow__control :hover {
    transform: scale(1.05);
}