footer {
    background: #9f99b0;
    background-size: cover;
    width: 100%;
    height: 730px;
}

.footer__container {
    display: flex;
    justify-content: left;
}

.footer__container img {
    padding: 140px 0 120px 140px;
}